<!DOCTYPE html>
<html ng-app="MRTest">
<head>
    <title></title>
</head>
<body mr-controller="testCtrl" mr-url="http://localhost:8080" model-name="fighter">
<label for="query"></label><input type="text" id="query" ng-model='te'>
<div>
    <p ng-repeat="fighter in LQ.docs">
        {{ fighter }}
    </p>
</div>

<script src="/socket.io/socket.io.js"></script>

<script src="/bower_components/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/bower_components/angular/angular.js" type="text/javascript"></script>
<script type="text/javascript" src="/bower_components/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript" src="/moonridge-angular-client-rpcbundle.js"></script>
<script type="text/javascript">
    angular.module('MRTest',['Moonridge']).controller('testCtrl', function ($scope) {

        $scope.model.liveQuery({limit: 7, skip: 0}).then(function (LQ) {
            console.log(LQ);
            $scope.LQ = LQ;
        });
    });
</script>
</body>
</html>