<!DOCTYPE html>
<html ng-app="MRTest">
<head>
    <title></title>
</head>
<body mr-controller="testCtrl" mr-backend="local" mr-models="user,fighter">
    <label for="query">Name</label><input type="text" id="query" ng-model='name'>
    <label for="health">age</label><input type="number" id="health" ng-model='health'>
    <button ng-click="create()">create</button>
    <button ng-click="changeQuery()">limit +1</button>
    <br/>
    Total documents: <span ng-bind="cLQ.count"></span>
    <div>
        <h1>Find query</h1>
        <p ng-repeat="fighter in LQ.docs">
            {{ fighter }} <button ng-click="hit(fighter)">Hit</button> <button ng-click="heal(fighter)">Heal</button> <button ng-click="remove(fighter)">Del</button>
        </p>
        <h1>Find One query</h1>
        <p>
            {{ oneLQ.doc }} <button ng-click="hit(oneLQ.doc)">Hit</button> <button ng-click="heal(oneLQ.doc)">Heal</button> <button ng-click="remove(oneLQ.doc)">Del</button>
        </p>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/bower_components/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular/angular.js" type="text/javascript"></script>
    <script type="text/javascript" src="/bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="/rpc/rpc-client-angular.js"></script>
    <script type="text/javascript" src="/moonridge-angular-client.js"></script>

    <script type="text/javascript">
        angular.module('MRTest', ['Moonridge']).controller('testCtrl', function ($scope) {
            var MR = $scope.MR;
            var liveQuery = MR.fighter.liveQuery;
            var limit = 2;
            $scope.LQ = liveQuery().sort('health').limit(limit).exec();
            $scope.oneLQ = liveQuery().findOne().exec();
            $scope.cLQ = liveQuery().count().exec();
            $scope.LQ.promise.then(function (LQ) {
                console.log(LQ);
            });

            $scope.changeQuery = function () {
                limit += 1;
                $scope.LQ.modifyQuery().limit(limit);
            };

            $scope.hit = function (fighter) {
                fighter.health -= 1;
                MR.fighter.update(fighter);
            };

            $scope.heal = function (fighter) {
                fighter.health += 1;
                MR.fighter.update(fighter);
            };

            $scope.remove = MR.fighter.remove;

            $scope.create = function () {
                MR.fighter.create({name: $scope.name, health: $scope.health});
            };

        }).run(function ($MR, $q, $timeout) {
            var dfd = $q.defer();
            $MR('local', dfd.promise);
            $timeout(function () {
                //just an example, in real application you would use here some auth token instead of nick
                dfd.resolve({url: 'http://localhost:8080', hs: { query: "nick=capaj" } } );
            }, 900)
        });
    </script>
</body>
</html>