mr-query-dropdown {
  display: inline-block;
}
.moonridge-query-dropdown .glyphicon {
  vertical-align: top;
  font-size: 22px;
}
.moonridge-query-dropdown .glyphicon.active {
  color: #0092ff;
}
.moonridge-query-dropdown .dropdown-menu {
  padding-top: 15px;
}
.moonridge-query-dropdown .dropdown-menu a {
  display: inline-block;
}
.moonridge-query-dropdown .dropdown-menu .col-md-4 {
  white-space: nowrap;
}
.moonridge-query-dropdown .dropdown-menu .row {
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 12px;
}
