<div class="moonridge-query-dropdown btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Sort and filter <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li ng-repeat="path in paths">
            <div class="row" ng-if="mrDropdown_guiPathTexts[$index] !== false">
                <div class="col-md-4">
                    <span ng-class="{active: getSortTokens().indexOf('-' + path) !== -1}"
                            class="glyphicon glyphicon-sort-by-attributes-alt" ng-click="sortBy('-' + path, $event)"></span>
                    <span ng-class="{active: getSortTokens().indexOf(path) !== -1}"
                            class="glyphicon glyphicon-sort-by-attributes" ng-click="sortBy(path, $event)"></span>
                </div>
                <div class="col-md-8">
                    <a ng-bind="mrDropdown_guiPathTexts[$index] || path" ng-click="switchSort(path)"></a>
                </div>
            </div>
        </li>
    </ul>
</div>